<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat saepe consequatur ab neque et provident a
            ipsum quaerat non, vero nam repellat repellendus, est dolorum distinctio porro deleniti temporibus quia.</p>
    </div>
</div>